$flaticon_news-font: "flaticon_news";

@font-face {
    font-family: $flaticon_news-font;
    src: url("./flaticon_news.ttf?6dfd30fa618c2cf396b038f6e068c50d") format("truetype"),
url("./flaticon_news.woff?6dfd30fa618c2cf396b038f6e068c50d") format("woff"),
url("./flaticon_news.woff2?6dfd30fa618c2cf396b038f6e068c50d") format("woff2"),
url("./flaticon_news.eot?6dfd30fa618c2cf396b038f6e068c50d#iefix") format("embedded-opentype"),
url("./flaticon_news.svg?6dfd30fa618c2cf396b038f6e068c50d#flaticon_news") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_news !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_news-map: (
    "search": "\f101",
    "search-1": "\f102",
    "search-2": "\f103",
    "time": "\f104",
    "history": "\f105",
    "volume-level-indicator": "\f106",
    "user": "\f107",
    "mail": "\f108",
    "envelope": "\f109",
    "share": "\f10a",
    "chat": "\f10b",
    "sms": "\f10c",
    "calendar": "\f10d",
    "heart": "\f10e",
    "heart-simple-shape-silhouette": "\f10f",
    "wishlist": "\f110",
    "bookmark": "\f111",
    "thunder": "\f112",
    "lighting": "\f113",
    "shopping-cart": "\f114",
    "basket": "\f115",
    "comment": "\f116",
    "down-arrow": "\f117",
    "scribble": "\f118",
    "right-arrow": "\f119",
    "next": "\f11a",
);

.flaticon-search:before {
    content: map-get($flaticon_news-map, "search");
}
.flaticon-search-1:before {
    content: map-get($flaticon_news-map, "search-1");
}
.flaticon-search-2:before {
    content: map-get($flaticon_news-map, "search-2");
}
.flaticon-time:before {
    content: map-get($flaticon_news-map, "time");
}
.flaticon-history:before {
    content: map-get($flaticon_news-map, "history");
}
.flaticon-volume-level-indicator:before {
    content: map-get($flaticon_news-map, "volume-level-indicator");
}
.flaticon-user:before {
    content: map-get($flaticon_news-map, "user");
}
.flaticon-mail:before {
    content: map-get($flaticon_news-map, "mail");
}
.flaticon-envelope:before {
    content: map-get($flaticon_news-map, "envelope");
}
.flaticon-share:before {
    content: map-get($flaticon_news-map, "share");
}
.flaticon-chat:before {
    content: map-get($flaticon_news-map, "chat");
}
.flaticon-sms:before {
    content: map-get($flaticon_news-map, "sms");
}
.flaticon-calendar:before {
    content: map-get($flaticon_news-map, "calendar");
}
.flaticon-heart:before {
    content: map-get($flaticon_news-map, "heart");
}
.flaticon-heart-simple-shape-silhouette:before {
    content: map-get($flaticon_news-map, "heart-simple-shape-silhouette");
}
.flaticon-wishlist:before {
    content: map-get($flaticon_news-map, "wishlist");
}
.flaticon-bookmark:before {
    content: map-get($flaticon_news-map, "bookmark");
}
.flaticon-thunder:before {
    content: map-get($flaticon_news-map, "thunder");
}
.flaticon-lighting:before {
    content: map-get($flaticon_news-map, "lighting");
}
.flaticon-shopping-cart:before {
    content: map-get($flaticon_news-map, "shopping-cart");
}
.flaticon-basket:before {
    content: map-get($flaticon_news-map, "basket");
}
.flaticon-comment:before {
    content: map-get($flaticon_news-map, "comment");
}
.flaticon-down-arrow:before {
    content: map-get($flaticon_news-map, "down-arrow");
}
.flaticon-scribble:before {
    content: map-get($flaticon_news-map, "scribble");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon_news-map, "right-arrow");
}
.flaticon-next:before {
    content: map-get($flaticon_news-map, "next");
}
